__pycache__/
.venv
.vscode
.ipynb_checkpoints

# MkDocs build output
site/
changelog.md

# Data artifacts
*.json
*.pkl
*.csv
!data/*
!data/unit-3/*

# Unit 2
unit-2/lesson-16/data
unit-2/INC2

# Unit 4
unit-4/lesson-29/lesson-29-activity-solution.ipynb

# Class Friday Aug 20th notes:
TODO.md