__pycache__/
.venv
.vscode
.ipynb_checkpoints

# MkDocs build output
site/
changelog.md

# Data artifacts
*.json
*.pkl
*.csv
!data/*
!data/unit-3/*
!data/unit-4/*

# Unit 2
unit-2/lesson-16/data
unit-2/INC2

# Unit 6
unit-6/lesson-43/lesson-43-activity-solution.ipynb
unit-6/lesson-44/lesson-44-activity-solution.ipynb
unit-6/lesson-45/lesson-45-activity-solution.ipynb

# Class Friday Aug 20th notes:
TODO.md