__pycache__/
.venv
.vscode
.ipynb_checkpoints

# MkDocs build output
site/
changelog.md

# Data artifacts
*.json
*.pkl
*.csv
!data/*

# Unit 2
unit-2/lesson-16/data
unit-2/INC2

# Unit 4
unit-4/lesson-26/lesson-26-activity-solution.ipynb
unit-4/lesson-28/lesson-28-activity-solution.ipynb
unit-4/lesson-29/lesson-29-activity-solution.ipynb